<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ammacias.quizzcofrade">

    <!-- PERMISOS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Utils.Application_vars"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EscudosActivity"
            android:label="@string/title_activity_juego"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ammacias.quizzcofrade.MainActivity" />
        </activity>
        <activity android:name=".DetalleActivity.DetalleEscudoActivity" />
        <activity
            android:name=".PasosActivity"
            android:label="@string/title_activity_pasos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RandomActivity" />

        <service
            android:name=".Service.MyReproductor"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MarchaActivity"
            android:label="@string/title_activity_marcha"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>